## cp uno.rules /etc/udev/rules.d
## sudo udevadm control reload-rules
## sudo udevadm trigger

# Arduino_uno
ATTRS{idVendor}=="1a86" ATTRS{idProduct}=="7523", ENV{ID_MM_DEVICE_IGNORE}="1",MODE:="0666",SYMLINK+="arduino_uno"
ATTRS{idVendor}=="2341" ATTRS{idProduct}=="0042", ENV{ID_MM_DEVICE_IGNORE}="1",MODE:="0666",SYMLINK+="arduino_mega2560"
KERNEL =="ttyAMA0" , MODE="0666"

# smart_robot
#ATTRS{idVendor}=="0403" ATTRS{idProduct}=="6015", ENV{ID_MM_DEVICE_IGNORE}="1",MODE:="0666",SYMLINK+="smart_robot_omnibotV11"
ATTRS{idVendor}=="0403" ATTRS{idProduct}=="6015", ENV{ID_MM_DEVICE_IGNORE}="1",MODE:="0666",SYMLINK+="smart_robot_omnibotV12"
